body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav{
    background-color: whitesmoke;
    display:flex;
    justify-content: space-between;
    padding: 15px;
}

.hero{
    background-image: url(https://images.pexels.com/photos/5604947/pexels-photo-5604947.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    height: 150vh;
    width:100%;
    background-size:cover;
}

.hero-text{
    width: 30%;
    height: 150vh;
    font-size: 38px;
    display: flex;
    align-items: center;
    color:white;
    margin-top: 0;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.cards{
    display:flex;
    justify-content: space-between;
}

.card{
    height: 200px;
    width: 30%;
    background-color:bisque; 
}